/* MAIN */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  height: 100%;
}

.row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.picture {
  display: flex;
  width: 200px;
  height: 200px;
  justify-content: center;
  align-items: center;

}
/*  zeby nie streachowalo obrazka */
.centerImage {
  width: 100%;
  height: auto;
}
/* zmiana koloru svg */
/*.st0 {
  fill: gray;
}*/
