/*** MAIN ***/
* {
  margin: 0;
  padding: 0;
}

body, html {
  width: 100vw;
  height: 100vh;
}

.flexContainer {
  width: 1300px;
  height: 100vh;
  display: flex;
  flex-wrap: nowrap;
  position:relative;
}

/*** LEFT ***/
.selectable {
  background: black;
  display: inline-flex;
  position: absolute;
  z-index: 1;
}

#square {
  top: 344px;
  left: 80px;
  height: 96px;
  width: 96px;
}

#parallelogram {
  top: 413px;
  left: 1075px;
  height: 206px;
  width: 68px;
  clip-path: polygon(0 0, 100% 33%, 100% 100%, 0 67%);
}

#triangleSmall1 {
  top: 436px;
  left: 862px;
  height: 67.68px;
  width: 135.36px;
  clip-path: polygon(0% 100%, 100% 100%, 50% 0%);
}

#triangleSmall2 {
  top: 215px;
  left: 776px;
  height: 67.68px;
  width: 135.36px;
  clip-path: polygon(0% 100%, 100% 100%, 50% 0%);
}

#triangleMiddle {
  top: 96px;
  left: 392px;
  height: 96px;
  width: 192px;
  clip-path: polygon(0% 100%, 100% 100%, 50% 0%);
}

#triangleBig1 {
  top: 157px;
  left: 932px;
  height: 135.36px;
  width: 270.72px;
  clip-path: polygon(0% 100%, 100% 100%, 50% 0%);
}

#triangleBig2 {
  top: 101px;
  left: 105px;
  height: 135.36px;
  width: 270.72px;
  clip-path: polygon(0% 100%, 100% 100%, 50% 0%);
}


/*** RIGHT ***/
.destination {
  background: Gainsboro;
  display: inline-flex;
  position: absolute;
}

#squareRight{
  top: 308px;
  left: 624px;
  height: 218px;
  width: 155px;
  clip-path: polygon(63% 0%, 94% 39%, 40% 62%, 8% 23%);
}

#parallelogramRight {
  top: 494px;
  left: 563px;
  height: 99px;
  width: 146px;
  transform: skewX(56deg);
  clip-path: polygon(1% 100%, 33% 0%, 100% 0%, 68% 100%);
}

#triangleSmall1Right {
  top: 240px;
  left: 587px;
  height: 67.68px;
  width: 135.36px;
  clip-path: polygon(0% 100%, 100% 100%, 50% 0%);
}

#triangleSmall2Right {
  top: 457px;
  left: 239px;
  height: 135.68px;
  width: 176.36px;
  clip-path: polygon(0% 50%, 39% 100%, 39% 0%);
}

#triangleMiddleRight {
  top: 357px;
  left: 532px;
  height: 137px;
  width: 138px;
  transform: skewX(-27deg);
  clip-path: polygon(0% 100%, 100% 100%, 50% 0%);
}

#triangleBig1Right {
  top: 301px;
  left: 258px;
  height: 193px;
  width: 193px;
  transform: skewX(27deg);
  clip-path: polygon(0% 100%, 100% 100%, 50% 0%);
}

#triangleBig2Right {
  top: 357px;
  left: 360.5px;
  height: 136.68px;
  width: 277px;
  clip-path: polygon(100% 0, 0 0, 50% 100%);
}
