/*** MAIN ***/
* {
  margin: 0;
  padding: 0;
}

body, html {
  width: 100vw;
  height: 100vh;
}

.flexContainer {
  width: 1300px;
  height: 100vh;
  display: flex;
  flex-wrap: nowrap;
  position:relative;
}

/*** LEFT ***/
.selectable {
  background: black;
  display: inline-flex;
  position: absolute;
  z-index: 1;
}

#square {
  top: 329px;
  left: 846px;
  height: 96px;
  width: 96px;
}

#parallelogram {
  top: 413px;
  left: 953px;
  height: 190px;
  width: 125px;
  clip-path: polygon(0% 100%, 29% 27%, 100% 0%, 69% 73%)
}

#triangleSmall1 {
  top: 466px;
  left: 673px;
  height: 67.68px;
  width: 135.36px;
  clip-path: polygon(0% 100%, 100% 100%, 50% 0%);
}

#triangleSmall2 {
  top: 150px;
  left: 835px;
  height: 67.68px;
  width: 135.36px;
  clip-path: polygon(0% 100%, 100% 100%, 50% 0%);
}

#triangleMiddle {
  top: 327px;
  left: 463px;
  height: 96px;
  width: 192px;
  clip-path: polygon(0% 100%, 100% 100%, 50% 0%);
}

#triangleBig1 {
  top: 157px;
  left: 932px;
  height: 135.36px;
  width: 270.72px;
  clip-path: polygon(0% 100%, 100% 100%, 50% 0%);
}

#triangleBig2 {
  top: 101px;
  left: 573px;
  height: 135.36px;
  width: 270.72px;
  clip-path: polygon(0% 100%, 100% 100%, 50% 0%);
}


/*** RIGHT ***/
.destination {
  background: Gainsboro;
  display: inline-flex;
  position: absolute;
}

#squareRight{
  top: 120px;
  left: 200px;
  height: 118px;
  width: 118px;
  clip-path: polygon(0% 79%, 80% 100%, 100% 20%, 20% 0%);
}

#parallelogramRight {
  top: 213px;
  left: 30px;
  height: 150px;
  width: 170px;
  clip-path: polygon(0% 100%, 44% 17%, 100% 0%, 59% 83%);
}

#triangleSmall1Right {
  top: 15px;
  left: 133px;
  height: 129px;
  width: 84px;
  clip-path: polygon(0% 63%, 100% 100%, 57% 0%);
}

#triangleSmall2Right {
  top: 126px;
  left: 98px;
  height: 92.68px;
  width: 116.36px;
  clip-path: polygon(0% 100%, 100% 27%, 21% 0%);
}

#triangleMiddleRight {
  top: 522px;
  left: 241px;
  height: 138px;
  width: 138px;
  clip-path: polygon(100% 100%, 0% 0%, 0% 100%);
}

#triangleBig1Right {
  top: 214px;
  left: 200px;
  height: 270px;
  width: 136px;
  clip-path: polygon(0% 100%, 100% 50%, 0% 0%);
}

#triangleBig2Right {
  top: 348px;
  left: 200px;
  height: 270px;
  width: 136px;
  clip-path: polygon(0% 50%, 100% 100%, 100% 0%);
}
