/*** MAIN ***/
* {
  margin: 0;
  padding: 0;
}

body, html {
  width: 100vw;
  height: 100vh;
}

.flexContainer {
  width: 1300px;
  height: 100vh;
  display: flex;
  flex-wrap: nowrap;
  position:relative;
}

/*** LEFT ***/
.selectable {
  background: black;
  display: inline-flex;
  position: absolute;
  z-index: 1;
}

#square {
  top: 329px;
  left: 846px;
  height: 96px;
  width: 96px;
}

#parallelogram {
  top: 413px;
  left: 953px;
  height: 190px;
  width: 125px;
  clip-path: polygon(0% 100%, 29% 27%, 100% 0%, 69% 73%)
}

#triangleSmall1 {
  top: 466px;
  left: 673px;
  height: 67.68px;
  width: 135.36px;
  clip-path: polygon(0% 100%, 100% 100%, 50% 0%);
}

#triangleSmall2 {
  top: 150px;
  left: 835px;
  height: 67.68px;
  width: 135.36px;
  clip-path: polygon(0% 100%, 100% 100%, 50% 0%);
}

#triangleMiddle {
  top: 327px;
  left: 463px;
  height: 96px;
  width: 192px;
  clip-path: polygon(0% 100%, 100% 100%, 50% 0%);
}

#triangleBig1 {
  top: 157px;
  left: 932px;
  height: 135.36px;
  width: 270.72px;
  clip-path: polygon(0% 100%, 100% 100%, 50% 0%);
}

#triangleBig2 {
  top: 101px;
  left: 573px;
  height: 135.36px;
  width: 270.72px;
  clip-path: polygon(0% 100%, 100% 100%, 50% 0%);
}


/*** RIGHT ***/
.destination {
  background: Gainsboro;
  display: inline-flex;
  position: absolute;
}

#squareRight{
  top: 324px;
  left: 149px;
  height: 136px;
  width: 136px;
  clip-path: polygon(0% 50%, 50% 100%, 100% 50%, 50% 0%);
}

#parallelogramRight {
  top: 99px;
  left: 103px;
  height: 102px;
  width: 204px;
  clip-path: polygon(0% 100%, 50% 0%, 100% 0%, 50% 100%);
}

#triangleSmall1Right {
  top: 199px;
  left: 273px;
  height: 135.68px;
  width: 69.36px;
  clip-path: polygon(0% 50%, 100% 100%, 100% 0%);
}

#triangleSmall2Right {
  top: 200px;
  left: 341px;
  height: 96px;
  width: 96px;
  clip-path: polygon(0% 100%, 100% 100%, 0% 0%);
}

#triangleMiddleRight {
  top: 63px;
  left: 204px;
  height: 138px;
  width: 138px;
  clip-path: polygon(100% 0%, 0% 100%, 100% 100%);
}

#triangleBig1Right {
  top: 200px;
  left: 149px;
  height: 193px;
  width: 193px;
  clip-path: polygon(0% 100%, 100% 0%, 0% 0%);
}

#triangleBig2Right {
  top: 391px;
  left: 149px;
  height: 193px;
  width: 193px;
  clip-path: polygon(0% 100%, 100% 100%, 0% 0%);
}
