/*** MAIN ***/
* {
  margin: 0;
  padding: 0;
}

body, html {
  width: 100vw;
  height: 100vh;
}

.flexContainer {
  width: 1300px;
  height: 100vh;
  display: flex;
  flex-wrap: nowrap;
  position:relative;
}

/*** LEFT ***/
.selectable {
  background: black;
  display: inline-flex;
  position: absolute;
  z-index: 1;
}

#square {
  top: 344px;
  left: 80px;
  height: 96px;
  width: 96px;
}

#parallelogram {
  top: 413px;
  left: 221px;
  height: 206px;
  width: 68px;
  clip-path: polygon(0 0, 100% 33%, 100% 100%, 0 67%);
}

#triangleSmall1 {
  top: 293px;
  left: 503px;
  height: 67.68px;
  width: 135.36px;
  clip-path: polygon(0% 100%, 100% 100%, 50% 0%);
}

#triangleSmall2 {
  top: 145px;
  left: 391px;
  height: 67.68px;
  width: 135.36px;
  clip-path: polygon(0% 100%, 100% 100%, 50% 0%);
}

#triangleMiddle {
  top: 270px;
  left: 313px;
  height: 96px;
  width: 192px;
  clip-path: polygon(0% 100%, 100% 100%, 50% 0%);
}

#triangleBig1 {
  top: 426px;
  left: 467px;
  height: 135.36px;
  width: 270.72px;
  clip-path: polygon(0% 100%, 100% 100%, 50% 0%);
}

#triangleBig2 {
  top: 101px;
  left: 105px;
  height: 135.36px;
  width: 270.72px;
  clip-path: polygon(0% 100%, 100% 100%, 50% 0%);
}


/*** RIGHT ***/
.destination {
  background: Gainsboro;
  display: inline-flex;
  position: absolute;
}

#squareRight{
  top: 278px;
  left: 790px;
  height: 96px;
  width: 96px;
}

#parallelogramRight {
  top: 156px;
  left: 956px;
  height: 193px;
  width: 98px;
  clip-path: polygon(0% 50%, 100% 0%, 100% 50%, 0% 100%);
}

#triangleSmall1Right {
  top: 144px;
  left: 751px;
  height: 68px;
  width: 135px;
  clip-path: polygon(0% 0%, 50% 100%, 100% 0%);
}

#triangleSmall2Right {
  top: 210px;
  left: 751px;
  height: 68px;
  width: 135px;
  clip-path: polygon(100% 100%, 50% 0%, 0% 100%);
}

#triangleMiddleRight {
  top: 60.5px;
  left: 956px;
  height: 193px;
  width: 98px;
  clip-path: polygon(0% 100%, 100% 50%, 0% 0%);
}

#triangleBig1Right {
  top: 278px;
  left: 886px;
  height: 275.36px;
  width: 138.72px;
  clip-path: polygon(0% 100%, 100% 50%, 0% 0%);
}

#triangleBig2Right {
  top: 73px;
  left: 818px;
  height: 276.36px;
  width: 138.72px;
  clip-path: polygon(0% 50%, 100% 100%, 100% 0%);
}
