/*** MAIN ***/
* {
  margin: 0;
  padding: 0;
}

body, html {
  width: 100vw;
  height: 100vh;
}

.flexContainer {
  width: 1300px;
  height: 100vh;
  display: flex;
  flex-wrap: nowrap;
  position:relative;
}

/*** LEFT ***/
.selectable {
  background: black;
  display: inline-flex;
  position: absolute;
  z-index: 1;
}

#square {
  top: 344px;
  left: 540px;
  height: 96px;
  width: 96px;
}

#parallelogram {
  top: 93px;
  left: 540px;
  height: 190px;
  width: 125px;
  clip-path: polygon(0% 100%, 29% 27%, 100% 0%, 69% 73%);
}

#triangleSmall1 {
  top: 310px;
  left: 1034px;
  height: 67.68px;
  width: 135.36px;
  clip-path: polygon(0% 100%, 100% 100%, 50% 0%);
}

#triangleSmall2 {
  top: 145px;
  left: 722px;
  height: 67.68px;
  width: 135.36px;
  clip-path: polygon(0% 100%, 100% 100%, 50% 0%);
}

#triangleMiddle {
  top: 349px;
  left: 850px;
  height: 96px;
  width: 192px;
  clip-path: polygon(0% 100%, 100% 100%, 50% 0%);
}

#triangleBig1 {
  top: 447px;
  left: 637px;
  height: 135.36px;
  width: 270.72px;
  clip-path: polygon(0% 100%, 100% 100%, 50% 0%);
}

#triangleBig2 {
  top: 101px;
  left: 837px;
  height: 135.36px;
  width: 270.72px;
  clip-path: polygon(0% 100%, 100% 100%, 50% 0%);
}


/*** RIGHT ***/
.destination {
  background: Gainsboro;
  display: inline-flex;
  position: absolute;
}

#squareRight{
  top: 13px;
  left: 182px;
  height: 136px;
  width: 68px;
  transform: skewY(-45deg) skewX(26.5deg);
}

#parallelogramRight {
  top: 433px;
  left: 343px;
  height: 190px;
  width: 129px;
  clip-path: polygon(33% 46%, 33% 0%, 106% 49%, 115% 100%);
  transform: scale(1.17);
}

#triangleSmall1Right {
  top: 537px;
  left: 440px;
  height: 138px;
  width: 110.36px;
  transform: skewY(-7deg) skewY(-42deg);
  clip-path: polygon(39% 108%, 100% 100%, 38% 0%);
}

#triangleSmall2Right {
  top: 586px;
  left: 241px;
  height: 96px;
  width: 94.36px;
  transform: skewX(-26.1deg);
  clip-path: polygon(0% 100%, 100% 100%, 50% 0%);
}

#triangleMiddleRight {
  top: 394px;
  left: 263px;
  height: 195.36px;
  width: 97px;
  transform: skewY(-44.4deg) skewX(13.5deg);
  clip-path: polygon(1% 100%, 100% 100%, 47% 1%);
}

#triangleBig1Right {
  top: 250px;
  left: 247px;
  height: 270px;
  width: 136px;
  clip-path: polygon(0% 49.5%, 100% 100%, 100% 0%);
}

#triangleBig2Right {
  top: 85px;
  left: 215px;
  height: 265.36px;
  width: 134.72px;
  transform: skewY(-44.4deg) skewX(14deg);
  clip-path: polygon(0% 100%, 100% 100%, 50% 0%);
}
