/*** MAIN ***/
* {
  margin: 0;
  padding: 0;
}

body, html {
  width: 100vw;
  height: 100vh;
}

.flexContainer {
  width: 1300px;
  height: 100vh;
  display: flex;
  flex-wrap: nowrap;
  position:relative;
}

/*** LEFT ***/
.selectable {
  background: black;
  display: inline-flex;
  position: absolute;
  z-index: 1;
}

#square {
  top: 329px;
  left: 846px;
  height: 96px;
  width: 96px;
}

#parallelogram {
  top: 413px;
  left: 1075px;
  height: 190px;
  width: 125px;
  clip-path: polygon(0% 100%, 29% 27%, 100% 0%, 69% 73%);
}

#triangleSmall1 {
  top: 466px;
  left: 673px;
  height: 67.68px;
  width: 135.36px;
  clip-path: polygon(0% 100%, 100% 100%, 50% 0%);
}

#triangleSmall2 {
  top: 150px;
  left: 835px;
  height: 67.68px;
  width: 135.36px;
  clip-path: polygon(0% 100%, 100% 100%, 50% 0%);
}

#triangleMiddle {
  top: 327px;
  left: 463px;
  height: 96px;
  width: 192px;
  clip-path: polygon(0% 100%, 100% 100%, 50% 0%);
}

#triangleBig1 {
  top: 157px;
  left: 932px;
  height: 135.36px;
  width: 270.72px;
  clip-path: polygon(0% 100%, 100% 100%, 50% 0%);
}

#triangleBig2 {
  top: 101px;
  left: 573px;
  height: 135.36px;
  width: 270.72px;
  clip-path: polygon(0% 100%, 100% 100%, 50% 0%);
}


/*** RIGHT ***/
.destination {
  background: Gainsboro;
  display: inline-flex;
  position: absolute;
}

#squareRight{
  top: 463px;
  left: 162px;
  height: 96px;
  width: 96px;
}

#parallelogramRight {
  top: 318px;
  left: 195px;
  height: 190px;
  width: 125px;
  transform: matrix(-0.866025, -0.5, 0.5, -0.866025, 0, 0);
  clip-path: polygon(0% 100%, 29% 27%, 100% 0%, 69% 73%);
}

#triangleSmall1Right {
  top: 134px;
  left: 194px;
  height: 67.68px;
  width: 135.36px;
  transform: matrix(-0.866025, 0.5, -0.5, -0.866025, 0, 0);
  clip-path: polygon(0% 100%, 100% 100%, 50% 0%);
}

#triangleSmall2Right {
  top: 559px;
  left: 159px;
  height: 96px;
  width: 96px;
  transform: skewX(27deg) skewY(0deg);
  clip-path: polygon(0% 100%, 100% 100%, 50% 0%);
}

#triangleMiddleRight {
  top: 364px;
  left: 121px;
  height: 137px;
  width: 138px;
  transform: matrix(-1, 1.22465e-16, -1.22465e-16, -1, 0, 0);
  clip-path: polygon(0% 100%, 100% 100%, 100% 0%);
}

#triangleBig1Right {
  top: 172px;
  left: 138px;
  height: 193px;
  width: 193px;
  transform: skewX(26.5deg);
  clip-path: polygon(0% 100%, 100% 100%, 50% 0%);
}

#triangleBig2Right {
  top: -113px;
  left: 34px;
  height: 318px;
  width: 331px;
  clip-path: polygon(44% 42%, 29% 100%, 100% 57.5%);
}
