* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  height: 100%;
}

/* 1 page */
/* LETS PLAY IMAGE */
.flexContainer {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.letsPlay {
  display: flex;
  flex-wrap: wrap;
  height: 50vh;
  width: 50vw;
  background: pink;
}

#lFirstLine {
  position: relative;
  border: 3px solid lightgreen;
  height: 50%;
  width: 25%;
}

#eFirstLine {
  border: 3px solid lightgreen;
  height: 50%;
  width: 25%;
}

#tFirstLine {
  border: 3px solid lightgreen;
  height: 50%;
  width: 25%;
}

#sFirstLine {
  border: 3px solid lightgreen;
  height: 50%;
  width: 25%;
  break-after: always;
}

.secondLine {
  width: 100%;
  height: 50%;
  display: flex;
  flex-wrap: wrap;
}

#pSecondLine {
  border: 3px solid lightgreen;
  width: 20%;
}

#lSecondLine {
  border: 3px solid lightgreen;
  width: 20%;
}

#aSecondLine {
  border: 3px solid lightgreen;
  width: 20%;
}

#ySecondLine {
  border: 3px solid lightgreen;
  width: 20%;
}

#exclamationMarkSecondLine {
  border: 3px solid lightgreen;
  width: 20%;
}

/* L BLOCKS */

.l {
  position: absolute;
  background: blue;
  /*display: inline-block;*/
}

.l.square {
  left: 33px;
  top: 100px;
  height: 24px;
  width: 24px;
  transform: rotate(-45deg);
}

.l.parallelogram {
  left: 44px;
  bottom: 5px;
  height: 16.4736px;
  width: 52.4208px;
  transform: rotate(-45deg);
  clip-path: polygon(0% 0%, 66% 0%, 100% 100%, 34% 100%);
}

.l.triangleSmall1 {
  bottom: 1px;
  right: 55px;
  height: 16.4736px;
  width: 34.4472px;
  clip-path: polygon(0% 100%, 100% 100%, 50% 0%);
}

.l.triangleSmall2 {
  height: 16.4736px;
  width: 34.4472px;
  transform: rotate(135deg);
  clip-path: polygon(0% 100%, 100% 100%, 50% 0%);
}

.l.triangleMiddle {
  height: 27px;
  width: 50.9208px;
  transform: rotate(-45deg);
  clip-path: polygon(0% 100%, 100% 100%, 50% 0%);
}

.l.triangleBig1 {
  height: 32.9472px;
  width: 68.8944px;
  transform: rotate(90deg);
  clip-path: polygon(0% 100%, 100% 100%, 50% 0%);
}

.l.triangleBig2 {
  height: 32.9472px;
  width: 68.8944px;
  transform: rotate(-90deg);
  clip-path: polygon(0% 100%, 100% 100%, 50% 0%);
}
